{% import '_components.html' as components %}

{% extends 'base/base.html' %} {% block conteudo %}

{{ components.render_header(selected_text_group) }}

{% if selected_text_group['name'].startswith('Text') %}
    {% set target = 'text_vw_group' %}

{% else %}
    {% set target = 'view_group' %}

{% endif %}

{% set link_vw = linked_vw.get(target).get(selected_text_group['code']) %}

{% if link_vw %}
  {% set title = 'Linked Rules' %}
  {% set dataset = data_rules %}
  {% include 'text_groups/includes/linked_features.html'%}
  
  {% set title = 'Linked Features' %}
  {% set dataset = data_ft %}
  {% include 'text_groups/includes/linked_features.html' %}

  {% include 'text_groups/includes/linked_colors.html' %}

{% endif %}

{% endblock %}
