{% import '_draw_img.html' as draw_area %}

<section class="block">
  <h2>Area Fills</h2>

  <table class="data">
    <thead>
      <tr>
        <th>Overview</th>
        <th>Name</th>
        <th>Conditions</th>
      </tr>
    </thead>

    <tbody>
      {% for areafill in areaFills %}
        {% set conditions = areafill['conditions']%}

        {% if conditions %} 
          {% set full_string = conditions | join('or') %}
          {% set conditions_check = full_string.split('or') | map('trim') | list %} 
          {% set default = (conditions_check | reject('in', default_conditions) | list | length == 0) %}
        {% endif %}
        
        <tr
          class="clickable {% if default %} default {% endif %}"
          onclick="window.location.href='/visualisation/area_fill/{{areafill['value']}}'"
        >
          <td>
            <span class="swatch_area_fills">
              {{ draw_area.render_area_fill(areafill)}}
            </span>
          </td>

          <td>
            {{ areafill['value']}} {% if default %}
            <span class="pill">Default</span>
            {% endif %}
          </td>

          <td class="mono">
            {% for condition in areafill['conditions'] %}

            <ul>
              <li>{{condition}}</li>
            </ul>

            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>