{% import '_draw_img.html' as draw_color %}

<section class="block">
  <h2>Color Fills</h2>

  <table class="data">
    <thead>
      <tr>
        <th>Overview</th>
        <th>Name</th>
        <th>Conditions</th>
      </tr>
    </thead>

    <tbody>
      {% for colorfill in colorFills %}
      {% set conditions = colorfill['conditions']%}
      
      {% if conditions %}
        {% set full_string = conditions | join('or') %}
        {% set conditions_check = full_string.split('or') | map('trim') | list %}
        {% set default = (conditions_check | reject('in', default_conditions) | list | length == 0) %}
      {% endif %}

      <tr class="{% if default%} default {%endif%}">
        <td>
          {{draw_color.rendre_color_fill(colorfill)}}
        </td>

        <td>
          {{ colorfill['code']}} {% if default %}
          <span class="pill">Default</span>
          {% endif %}
        </td>

        <td class="mono">
          {% for condition in colorfill['conditions'] %}

          <ul>
            <li>{{condition}}</li>
          </ul>

          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>