{% for info in info_rule.get('text') %}
  <br>
  {% set current_index = loop.index %}
  {% set conditions = info.get('conditions') %}
  <h2>To conditions [{{' | '.join(conditions)}}]</h2>

  <div class="param-field">
    <h3>Text parameters</h3>
    {% include 'rules/includes/editable/text_parameters.html' %}

    {% include 'rules/includes/editable/editable_code.html'%}

    
    {% set linked_lines = info_rule.line_style | selectattr("type", "equalto", "simple") | selectattr("conditions", "equalto", conditions) | list %}  
    {% if linked_lines%}
      {% for line in linked_lines%}
        <h3>Simple Line parameters</h3>
        {% include 'rules/includes/editable/line_simple_parameters.html' %}
      
      {% endfor %}
    {% endif %}
    
  </div>
{% endfor %}

{% set linked_lines = info_rule.line_style | selectattr("type", "equalto", "simple") | selectattr("conditions", "!=", conditions) | list %} 
{% if linked_lines %}
  {% for line in linked_lines %}
    {% set current_index = loop.index %}
    <br>
    {% set conditions = line.conditions %}
    <h2>To conditions [{{' | '.join(conditions)}}]</h2>

    <div class="param-field">
      <h3>simple Line parameters</h3>
      {% include 'rules/includes/editable/line_simple_parameters.html' %}

    </div>
  {% endfor %}
{% endif %}  

