{% for info in info_rule.get('text') %}
<br>

{% set condition = info.get('LocalOffset')[0].get('conditions') %}
<h2>To conditions [{{' | '.join(condition)}}]</h2>

<div class="param-field">
  <h3>Text parameters</h3>
  {% if info.get('LocalOffset') %}
  <label>Coordinate X</label>
  <input type="number" id="coordX_{{loop.index}}" oninput="updatePreview({{loop.index}})" value="{{info.get('LocalOffset')[0].get('value').get('x')}}"/>
  <br /><br />

  <label>Coordinate Y</label>
  <input type="number" id="coordY_{{loop.index}}" oninput="updatePreview({{loop.index}})" value="{{info.get('LocalOffset')[0].get('value').get('y')}}" />
  <br /><br />
  {% endif %} 
  
  {% if info.get('TextAlignHorizontal') %}
  {% set text_align_hor = info.get('TextAlignHorizontal')[0].get('value') %}
  <label>Text Align Horizontal</label>
  <select id="alignH_{{loop.index}}" onchange="updatePreview({{loop.index}})">
    <option value="Start" {% if text_align_hor == 'Start'%} selected {% endif %}>Start</option>
    <option value="Center" {% if text_align_hor == 'Center'%} selected {% endif %}>Center</option>
    <option value="End" {% if text_align_hor == 'End'%} selected {% endif %}>End</option>
  </select>
  <br /><br />
  {% endif %} 
    
  {% if info.get('TextAlignVertical') %}
  <label>Text Align Vertical</label>
  {% set text_align_ver = info.get('TextAlignVertical')[0].get('value') %}
  <select id="alignV_{{loop.index}}" onchange="updatePreview({{loop.index}})">
    <option value="Start" {% if text_align_ver == 'Start'%} selected {% endif %}>Start</option>
    <option value="Center" {% if text_align_ver == 'Center'%} selected {% endif %}>Center</option>
    <option value="End" {% if text_align_ver == 'End'%} selected {% endif %}>End</option>
  </select>
  <br /><br />
  {% endif %} 

  {% if info.get('FontSize') %}
  <label>Font Size</label>
  <input type="number" id="fontSize_{{loop.index}}" oninput="updatePreview({{loop.index}})" value="{{info.get('FontSize')[0].get('value')}}" min="0"/>
  <br /><br />
  {% set conditions = info.get('FontSize')[0].get('conditions') %} 
  {% endif %} 

  {% if info.get('FontColor') %}
  <label>Font Color</label>
  <select id="fontColor_{{loop.index}}" onchange="updatePreview({{loop.index}})">
    {% set chosen_color = info.get('FontColor')[0].get('value').get('code') %} 
    {% for code, color in colors | dictsort %}
      {% set r = color.get('rgbDay').get('red') %}
      {% set g = color.get('rgbDay').get('green') %}
      {% set b = color.get('rgbDay').get('blue') %}
      {% set rgb = 'rgb(%s, %s, %s)' | format(r, g, b) %}

      <option value="{{code}}" data-rgb="{{rgb}}" {% if code == chosen_color %} selected {% endif %}>
        {{ code }} [{{ color['name'].capitalize() }}]
      </option>
    {% endfor %}
  </select>
  {% set conditions = info.get('FontColor')[0].get('conditions') %} 
  <br /><br />
  {% endif %}
  
  {% if info.get('raw_text') %}
  <label>Raw Text</label>
  <input type="text" id="rawText_{{loop.index}}" value="{{info.get('raw_text')[0].get('value')}}"/>
  <br /><br />
  {% endif %}

  {% if info.get('text_vw_group') %}
  <label>Text Viewing Group</label>
  <input type="number" id="textVwGroup_{{loop.index}}" value="{{info.get('text_vw_group')[0].get('value')}}"/>
  <br /><br />
  {% endif %}

  {% if info.get('view_group') %}
  <label>View Group</label>
  <input type="number" id="viewGroup_{{loop.index}}" value="{{info.get('view_group')[0].get('value')}}"/>
  <br /><br />
  {% endif %}

  {% if info.get('priority') %}
  <label>Priority</label>
  <input type="number" id="priority_{{loop.index}}" value="{{info.get('priority')[0].get('value')}}"/>
  <br /><br />
  {% endif %}

  {% if info.get('hover')[0].get('value') != false %}
  <label>Hover</label>
  <input type="number" id="hover_{{loop.index}}" value="{{info.get('hover')[0].get('value')}}"/>
  <br /><br />
  {% endif %}

  {% if info.get('text_priority') %}
  <label>Text Priority</label>
  <input type="number" id="textPriority_{{loop.index}}" value="{{info.get('text_priority')[0].get('value')}}"/>
  {% endif %}

  {%include 'includes/rule/editable_code.html'%}
</div>

{% endfor %}