
<div class="crumb">
  Attributes &nbsp;/&nbsp; <b>{{selected_attr['name']}}</b>
</div>

<div class="header-card">
  <h1>{{selected_attr['name']}}</h1>

  <div class="tag-row">
    <div class="tag"><b>Code</b><span>{{ selected_attr['code'] }}</span></div>
    <div class="tag"><b>Alias</b><span>{{ selected_attr['alias'] }}</span></div>
    <div class="tag">
      <b>Type</b><span>{{ selected_attr['value_type'] }}</span>
    </div>
  </div>

  <br />
  <div class="sub">{{selected_attr['definition']}}</div>
  <br />
</div>
