{% import '_draw_img.html' as draw_color %}

<section class="block">
  <h2>Color Style</h2>

  <table class="data">
    <thead>
      <tr>
        <th>Style</th>
        <th>Color</th>
        <th>Preview</th>
      </tr>
    </thead>

    <tbody>
      {% for theme in ['day', 'dusk', 'night']%}
      <tr>
        <td>{{theme.capitalize()}}</td>
        {% set rgb = 'rgb(%s, %s, %s)' | format(selected_item['rgb' ~
        theme.capitalize()]['red'], selected_item['rgb' ~
        theme.capitalize()]['green'], selected_item['rgb' ~
        theme.capitalize()]['blue']) %}

        <td>{{rgb}}</td>
        <td>{{draw_color.render_color(rgb)}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
