{% extends "base.html" %} {% block conteudo %}

<div class="crumb">
  Attributes &nbsp;/&nbsp; <b>{{selected_rule['file_name']}}</b>
</div>

<div class="header-card">
  <h1>{{selected_rule['file_name']}}</h1>

  <div class="tag-row">
    <div class="tag"><b>Code</b><span>{{ selected_rule['code'] }}</span></div>
    <div class="tag">
      <b>Rule Type</b><span>{{ selected_rule['rule_type'] }}</span>
    </div>
  </div>

  <br />
  <div class="sub">{{selected_rule['description']}}</div>
  <br />
</div>

{% if info_rule.get('text') %}
<section class="block">
  <h2>Editable settings</h2>
    {%include 'includes/rule/editable_info.html'%}    
{% endif %}


{% if linked_ft %}
  {% include 'includes/rule/linked_features.html' %}
{% endif %}
</section>

<script src="{{ url_for('static', filename='js/update_preview.js') }}"></script>
{% endblock %}
