{% extends "base.html" %} {% block page_styles %}
<link
  id="theme-stylesheet"
  rel="stylesheet"
  href="{{ url_for('static', filename='css/' ~ theme ~ 'SvgStyle.css') }}"
/>
{% endblock %} {% block conteudo %} {% include
'includes/visualisation/dropdown.html' %}

  <h2>Details of the selected {{visu_type.replace('_', ' ')}}</h2>
  <div class="symbol-detail">
    {% if visu_type == 'symbol' %}
      {% include 'includes/visualisation/symbols.html' %}
    {% endif %}
    
    {% if visu_type == 'line_style' %}
      {% include 'includes/visualisation/lineStyle.html' %}
    {% endif %}
    
    {% if visu_type == 'area_fill' %}
      {% include 'includes/visualisation/areaFill.html' %}
    {% endif %}
  </div>

<script>
  window.S101_NIGHT_CSS_URL = "{{ url_for('static', filename='css/nightSvgStyle.css') }}";
</script>
{% endblock %}
