

{% set code = info.get('code')%}

{% if code%}

<br>
<label>Code Preview</label>
<div class="code-preview" id="code-preview-box">
  <div class="line">
    <span class="line-num">{{info.get('line')}}</span>
    {% set function = code.get('function') %}
    {% set string = code.get('param') %}
      <span class="var">{{function}}</span>
      <span class="var">(</span>
      <span class="str" id="instruction-string_{{current_index}}">'{{string}}'</span>
      <span class="var">)</span>
  </div>
  {% set code_instruction = info.get('code_instruction') %}
  {% if code_instruction %}
  <div class="line">
    <span class="line-num">{{info.get('line_instruction')}}</span>

    {% set function = code_instruction.get('function') %}
    {% set string = code_instruction.get('param') %}

      <span class="var">{{function}}</span>
      <span class="var">(</span>
      <span class="str" id="instruction-text-string_{{current_index}}">'{{string}}'</span>
      <span class="var">)</span>
  </div>
  {% endif %}
</div>

<br />

<label>Preview Output</label>
<div id="previewContainer_{{current_index}}" class="preview-container">
  <div id="previewText_{{current_index}}" class="preview-text">
    Example Text
  </div>
</div>

<div class="save-row">
  <span class="save-msg" id="save-msg-text_{{current_index}}">Saved changes</span>
<button onclick="saveTextParams({{current_index}}, {{info | tojson | forceescape}}, '{{selected_rule['code']}}')">
  Save changes
</button>
</div>

{%endif%}

<script src="{{ url_for('static', filename='js/save_text.js') }}"></script>
