{% set areafill = get_area(actual_element) %}
<div class="swatch_area_fills">
  <canvas
    class="cartoCanvas"
    width="100"
    height="100"
    data-symbol="{{ url_for('static', filename='symbols/' ~ areafill['symbol'] ~ '.svg') }}"
    data-v1_x="{{ areafill['v1']['x'] }}"
    data-v1_y="{{ areafill['v1']['y'] }}"
    data-v2_x="{{ areafill['v2']['x'] }}"
    data-v2_y="{{ areafill['v2']['y'] }}"
  >
    >
  </canvas>
</div>

<div class="info">
  <h3>{{selected_item['name']}}</h3>
  <p>{{selected_item['description'].capitalize()}}</p>

  {% set match_rules = namespace(found=false) %}
  {% if 'rule' in linked_rules %}
    {% for rule in linked_rules['rule'] %} 
      {% if rule in data_ft %} 
        {% set match_rules.found = true %} 
      {% endif %} 
    {% endfor %} 
  {% endif %} 
  
  {% if match_rules.found %}
  <h3>Linked Features</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Feature</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in linked_rules['rule'] | sort %} {% if rule in data_ft %}
      <tr class="clickable" onclick="window.location.href='/features/{{rule}}'">
        <td class="mono">{{ data_ft.get(rule, {}).get('name', 'N/A') }}</td>
        <td class="mono">
          {{ data_ft.get(rule, {}).get('definition', 'N/A') }}
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>

<script src="{{ url_for('static', filename='js/canvas_renderer.js') }}"></script>
