{% set lines = get_line(actual_element) %}


<div class="glyph-big">
{% for line in lines %}

  <svg width="{{transform_mm_px(line['intervalLength'])}}" height="120">
    {% set red = line['pen']['color'][theme]['red'] %}
    {% set green = line['pen']['color'][theme]['green'] %}
    {% set blue = line['pen']['color'][theme]['blue'] %}
    
    {% set middle_y = 120 / 2 %}

    {% if line['dash'] %}
      {% for dash in line['dash'] %}
        <line
          x1="{{ transform_mm_px(dash['start']) }}"
          y1="{{ middle_y }}"
          x2="{{ transform_mm_px(dash['start']) | float + transform_mm_px(dash['length']) | float }}"
          y2="{{ middle_y }}"
          stroke="rgb({{red}}, {{green}}, {{blue}})"
          stroke-width="{{ transform_mm_px(line['pen']['width']) }}"
        />
      {% endfor %}
    {% else %}
      <line
        x1="0"
        y1="{{ middle_y }}" 
        x2="100%" 
        y2="{{ middle_y }}"
        stroke="rgb({{red}}, {{green}}, {{blue}})"
        stroke-width="{{ transform_mm_px(line['pen']['width']) }}"
      />
    {% endif %} 

{% if line['symbol'] %} 
  {% for sym in line['symbol'] %} 
    {% set pos_x = transform_mm_px(sym['position']) %}
    {% set svg_data = extract_svg_data(sym['code']) %}

    <!-- Aplicação direta do offset calculado -->
    <g transform="translate({{ pos_x - svg_data['offset_x'] }}, {{ middle_y - svg_data['offset_y'] }})">
      {{ get_svg(sym['code']) | safe }}
    </g>
    {% endfor %} 
    {% endif %}
  </svg>

  {% set line_symbol = line['symbol']%}

  {% endfor %}
  
</div>

<div class="info">
  <h3>{{selected_item['name']}}</h3>
  <p>{{selected_item['description'].capitalize()}}</p>


  {% set match_rules = namespace(found=false) %}
  {% if 'rule' in linked_rules %}
    {% for rule in linked_rules['rule'] %} 
      {% if rule in data_ft %} 
        {% set match_rules.found = true %} 
      {% endif %} 
    {% endfor %} 
  {% endif %} 
  
  {% if match_rules.found %}
  <h3>Linked Features</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Feature</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in linked_rules['rule'] | sort %} {% if rule in data_ft %}
      <tr class="clickable" onclick="window.location.href='/features/{{rule}}'">
        <td class="mono">{{ data_ft.get(rule, {}).get('name', 'N/A') }}</td>
        <td class="mono">
          {{ data_ft.get(rule, {}).get('definition', 'N/A') }}
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>

  <br>
  
  {% endif %}

{% if line_symbol%}
<h3>Linked Symbols</h3>
<table class="data">
  <thead>
    <tr>
      <th>Preview</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    {% set state = namespace(symbols_code=[])%}

    {% for symbol in line_symbol %}
      {% if symbol['code'] not in state.symbols_code %}
        <tr class="clickable" onclick="window.location.href='/visualisation/symbol/{{symbol['code']}}'">
          <td>
            <span class="swatch">
              {{ get_svg(symbol['code']) }}
            </span>
          </td>

          <td class="mono">{{symbol['code']}}</td>
          
          <td class="mono">{{data_symbols.get(symbol['code']).get('description')}}</td>

        </tr>

      {% endif %}
      
      {% set state.symbols_code = state.symbols_code + [symbol['code']] %}
    {% endfor %}
  </tbody>


</table>
{% endif %}

</div>