<div class="glyph-big">{{ get_svg(selected_item['code']) }}</div>

<div class="info">
  <h3>{{selected_item['name']}}</h3>
  <p>{{selected_item['description'].capitalize()}}</p>

  {% if 'rule' in linked_rules %}
  <h3>Linked Rules</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Rule</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in linked_rules['rule'] | sort %}
      <tr class="clickable" onclick="window.location.href='/rules/{{rule}}'">
        <!-- Usando .get() para segurança dos dados da Feature -->
        <td class="mono">{{ data_rules.get(rule, {}).get('name', 'N/A') }}</td>
        <td class="mono">
          {{ data_rules.get(rule, {}).get('description', 'N/A') }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %} 
  

  {% set match_rules = namespace(found=false) %}
  {% if 'rule' in linked_rules %}
    {% for rule in linked_rules['rule'] %} 
      {% if rule in data_ft %} 
        {% set match_rules.found = true %} 
      {% endif %} 
    {% endfor %} 
  {% endif %} 
  
  {% if match_rules.found %}
  <br>
  <h3>Linked Features</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Feature</th>
        <th>Definition</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in linked_rules['rule'] | sort %} {% if rule in data_ft %}
      <tr class="clickable" onclick="window.location.href='/features/{{rule}}'">
        <td class="mono">{{ data_ft.get(rule, {}).get('name', 'N/A') }}</td>
        <td class="mono">
          {{ data_ft.get(rule, {}).get('definition', 'N/A') }}
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
  {% endif %}
  
  {% if 'line_styles' in linked_rules %}
  <br />
  <h3>Linked Line Styles</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for line_code in linked_rules['line_styles'] %} {% set line =
      data_line.get(line_code) %}

      <tr
        class="clickable"
        onclick="window.location.href='/visualisation/line_style/{{line_code}}?theme={{theme}}'"
      >
        <td class="mono">{{ line_code }}</td>
        <td class="mono">{{ line.get('description').capitalize() }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %} {% if 'area_fills' in linked_rules%}
  <br>
  <h3>Linked Area Fills</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Feature</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {%for area_code in linked_rules['area_fills']%} {% set area =
      data_area.get(area_code)%}

      <tr
        class="clickable"
        onclick="window.location.href='/visualisation/area_fill/{{area_code}}?theme={{theme}}'"
      >
        <td class="mono">{{ area_code }}</td>
        <td class="mono">{{ area.get('description').capitalize()}}</td>
      </tr>

      {%endfor%}
    </tbody>
  </table>
  {% endif %} {% if 'rules' in linked_rules %}
  <br>
  <h3>Linked Rules</h3>
  <table class="data">
    <thead>
      <tr>
        <th>Rule</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in linked_rules['rules'] %}
      <tr class="clickable">
        <td class="mono">
          {{ data_rules.get(rule, {}).get('file_name', 'N/A') }}
        </td>

        <td class="mono">
          {{ data_rules.get(rule, {}).get('description', 'N/A') }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {%endif%}

</div>