<div class="topbar">
  <div class="brand">
    <span class="dot"></span>S-101
    <small>ANALYSEUR DES RÈGLES D'AFFICHAGE LUA</small>
  </div>
  
  <nav class="topnav" id="topnav">
    <button
      class="{% if name_page == 'features' %}active{% endif %}"
      onclick="window.location.href = '{{ url_for('features.view_features') }}'"
    >
      Features
    </button>
    <button
      class="{% if name_page == 'attributes' %}active{% endif %}"
      onclick="window.location.href = '{{ url_for('attributes.view_attributes') }}'"
    >
      Attributes
    </button>
    <button
      class="{% if name_page == 'visualisation' %}active{% endif %}"
      onclick="window.location.href = '{{ url_for('visualisation.view_visualisation')}}'"
    >
      Visualisation
    </button>
    <button
      class="{% if name_page == 'rules' %}active{% endif %}"
      onclick="window.location.href = '{{ url_for('rules.view_rules') }}'"
    >
      Rules
    </button>

    <button
      class="{% if name_page == 'text_group' %}active{% endif %}"
      onclick="window.location.href = '{{ url_for('text_group.view_text_group') }}'"
    >
      Text Group
    </button>

    <button
      class="{% if name_page == 'colors' %}active{% endif %}"
      onclick="window.location.href = '{{ url_for('colors.view_color') }}'"
    >
      Colors
    </button>

    <button
      id="openModalBtn"
    >
      Upload Files
    </button>

    <button
      id="openExportBtn"
    >
      Export Files
    </button>


  </nav>
</div>
