{% import '_draw_img.html' as draw_area %}

{% set section = 'area_fill'%}
{% set areafill = get_area(actual_element) %}
<div class="swatch_area_fills">
  {{draw_area.render_area_fill(areafill)}}
</div>

<div class="info">
  <h3>{{selected_item['name']}}</h3>
  <p>{{selected_item['description'].capitalize()}}</p>

  {% if 'rule' in linked_rules %}
    {% set title = 'Linked Rules'%}
    {% set dataset = data_rules %}
    {% set page = 'rules' %}

    {% include 'visualisation/includes/sections/linked_features.html' %}
  {% endif %} 

  {% set match_rules = namespace(found=false) %}
  {% if 'rule' in linked_rules %}
    {% for rule in linked_rules['rule'] %} 
      {% if rule in data_ft %} 
        {% set match_rules.found = true %} 
      {% endif %} 
    {% endfor %} 
  {% endif %} 
  
  {% if match_rules.found %}
    {% set title = 'Linked Feature' %}
    {% set dataset = data_ft %}
    {% set page = 'features' %}

    {% include 'visualisation/includes/sections/linked_features.html' %}
  {% endif %}

  {% if areafill['symbol'] %}
    {% set dataset = [areafill['symbol']] %}
    {% include 'visualisation/includes/sections/linked_symbols.html' %}
  {% endif %}

{% set colors = get_svg_color(areafill['symbol']) %}
{% if colors %}
    {% include 'visualisation/includes/sections/linked_colors.html' %}
{% endif %}


</div>

<script src="{{ url_for('static', filename='js/canvas_renderer.js') }}"></script>
