<div class="dropdown-container">
  <button class="dropdown-trigger">{{ theme | capitalize }} ▾</button>

  <div class="dropdown-menu">
    <!-- On demande à Flask de recharger la même page avec le nouveau thème -->
    <a href="{{ url_for('visualisation.view_visualisation', visu_type=visu_type, item_id=actual_element, theme='day') }}">Day</a>
    <a href="{{ url_for('visualisation.view_visualisation', visu_type=visu_type, item_id=actual_element, theme='dusk') }}">Dusk</a>
    <a href="{{ url_for('visualisation.view_visualisation', visu_type=visu_type, item_id=actual_element, theme='night') }}">Night</a>
  </div>
</div>