{% set section = 'line_style'%}
{% set lines = get_line(actual_element) %}
{% set ns = namespace(symbols=[]) %}

{% include 'visualisation/includes/line_drawing.html' %}

<div class="info">
  <h3>{{selected_item['name']}}</h3>
  <p>{{selected_item['description'].capitalize()}}</p>

  {% if 'rule' in linked_rules %}
    {% set title = 'Linked Rules'%}
    {% set dataset = data_rules%}
    {% include 'visualisation/includes/sections/linked_features.html' %}
  {% endif %} 

  {% set match_rules = namespace(found=false) %}
  {% if 'rule' in linked_rules %}
    {% for rule in linked_rules['rule'] %} 
      {% if rule in data_ft %} 
        {% set match_rules.found = true %} 
      {% endif %} 
    {% endfor %} 
  {% endif %} 
  
  {% if match_rules.found %}
    {% set title = 'Linked Features' %}
    {% set dataset = data_ft %}
    {% include 'visualisation/includes/sections/linked_features.html' %}
  {% endif %}

{% if ns.symbols %}
  {% set dataset = ns.symbols %}
  {% include 'visualisation/includes/sections/linked_symbols.html'%}
{% endif %}

{% include 'visualisation/includes/sections/linked_colors.html'%}


</div>