{% import '_draw_img.html' as draw_line %}

{% set section = 'line_style'%}
{% set lines = get_line(actual_element) %}

<div class="glyph-big">
  {{draw_line.render_complex_line(lines, theme=theme)}}
</div>

<div class="info">
  <h3>{{selected_item['name']}}</h3>
  <p>{{selected_item['description'].capitalize()}}</p>

  {% if 'rule' in linked_rules %}
    {% set title = 'Linked Rules'%}
    {% set dataset = data_rules%}
    {% set page = 'rules' %}

    {% include 'visualisation/includes/sections/linked_features.html' %}
  {% endif %} 

  {% set match_rules = namespace(found=false) %}
  {% if 'rule' in linked_rules %}
    {% for rule in linked_rules['rule'] %} 
      {% if rule in data_ft %} 
        {% set match_rules.found = true %} 
      {% endif %} 
    {% endfor %} 
  {% endif %} 
  
  {% if match_rules.found %}
    {% set title = 'Linked Features' %}
    {% set dataset = data_ft %}
    {% set page = 'features' %}

    {% include 'visualisation/includes/sections/linked_features.html' %}
  {% endif %}


{% for line in lines%}
  {% set dataset = line.symbol | map(attribute='code') | unique | list %}
  {% if dataset %}
    {% include 'visualisation/includes/sections/linked_symbols.html'%}
  {% endif %}
{% endfor %}

{% set colors = get_line(actual_element) | map(attribute='pen.color_code') | list %}
{% if colors %}
  {% include 'visualisation/includes/sections/linked_colors.html' %}
{% endif %}

</div>