{% extends "base.html" %} {% block conteudo %}

<div class="crumb">
  Attributes &nbsp;/&nbsp; <b>{{selected_attr['name']}}</b>
</div>

<div class="header-card">
  <h1>{{selected_attr['name']}}</h1>

  <div class="tag-row">
    <div class="tag"><b>Code</b><span>{{ selected_attr['code'] }}</span></div>
    <div class="tag"><b>Alias</b><span>{{ selected_attr['alias'] }}</span></div>
    <div class="tag">
      <b>Type</b><span>{{ selected_attr['value_type'] }}</span>
    </div>
  </div>

  <br />
  <div class="sub">{{selected_attr['definition']}}</div>
  <br />

  {% set attr_val_list = selected_attr.get('listed_value') %}
  {% if attr_val_list%} 

  <section class="block">
    <h2>Dictionnaire des valeurs</h2>
    <table class="data">
      <thead>
        <tr>
          <th style="width: 80px">Valeur</th>
          <th>Code</th>
          <th>Définition</th>
        </tr>
      </thead>
      <tbody>
        {% for attr_val in attr_val_list %}
        <tr>
          <td class="mono">{{ attr_val['label'] }}</td>
          <td>{{ attr_val['code'] }}</td>
          <td>{{ attr_val['definition'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %} 
  
  
  {% if linked_objs %}
  <section class="block">
    <h2>Objets liés</h2>
    <table class="data">
      <thead>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Primitive</th>
        </tr>
      </thead>
      <tbody>
        {% for feature in linked_objs %}
        <tr
          class="clickable"
          onclick="window.location.href='/features/{{feature['code']}}'"
        >
          <td class="mono">{{feature['code']}}</td>
          <td>{{feature['name']}}</td>
          <td>{{feature['permitted_primitives']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}
</div>

{% endblock %}
