{% import '_draw_img.html' as draw_color %}

{% set ns = namespace(colors=[]) %}
{% set rules = link_vw.get('rule') %}

{% for rule in rules %}
    {% set ns.colors = get_info(rule).get('text', []) 
        | selectattr('FontColor', 'defined') 
        | map(attribute='FontColor') 
        | selectattr('code', 'defined') 
        | unique(attribute='code') 
        | list %}
{% endfor %}

{% if ns.colors %}
<section class="block">
    <h2>Linked Colors</h2>

    <table class="data">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Preview (Day)</th>
                <th>Preview (Dusk)</th>
                <th>Preview (Night)</th>
            </tr>
        </thead>

        
        <tbody>
            

                {% for color in ns.colors %}
                    <tr
                    class="clickable"
                    onclick="window.location.href='/colors/{{color.get('code')}}'"
                    >
                    {% set info_color = data_colors.get(color.get('code')) %}
                        <td>{{info_color['name'].capitalize()}}</td>
                        <td>{{color.get('code')}}</td>
                        <td>{{info_color['description'].capitalize()}}</td>
                        
                        <td>
                            {% set rgb = 'rgb(%s, %s, %s)' | format(info_color['rgbDay']['red'], info_color['rgbDay']['green'], info_color['rgbDay']['blue']) %}
                            {{draw_color.render_color(rgb)}}
                            <span>RGB({{rgb}})</span>
                        </td>
                        <td>
                            {% set rgb = 'rgb(%s, %s, %s)' | format(info_color['rgbDusk']['red'], info_color['rgbDusk']['green'], info_color['rgbDusk']['blue']) %}
                            {{draw_color.render_color(rgb)}}
                            <span>RGB({{rgb}})</span>
                        </td>
                        <td>
                            {% set rgb = 'rgb(%s, %s, %s)' | format(info_color['rgbNight']['red'], info_color['rgbNight']['green'], info_color['rgbNight']['blue']) %}
                            {{draw_color.render_color(rgb)}}
                            <span>RGB({{rgb}})</span>
                        </td>
                    </tr>
                {% endfor %}

        </tbody>

    </table>

</section>

{% endif %}