{% import '_draw_img.html' as draw_color %}


{% set rules = link_vw.get('rule') %}

<section class="block">
    <h2>Linked Colors</h2>

    <table class="data">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Rule</th>
                <th>Description</th>
                <th>Preview (Day)</th>
                <th>Preview (Dusk)</th>
                <th>Preview (Night)</th>
            </tr>
        </thead>

        <tbody>
            {% for rule in rules %}
                {% set colors = get_info(rule).get('text') | map(attribute='FontColor') | unique(attribute='code') | list %}

                {% for color in colors %}
                    <tr
                    class="clickable"
                    onclick="window.location.href='/colors/{{color.get('code')}}'"
                    >
                    {% set info_color = data_colors.get(color.get('code')) %}
                        <td>{{info_color['name'].capitalize()}}</td>
                        <td>{{color.get('code')}}</td>
                        <td>{{rule}}.lua</td>
                        <td>{{info_color['description'].capitalize()}}</td>
                        
                        <td>
                            {% set rgb = 'rgb(%s, %s, %s)' | format(info_color['rgbDay']['red'], info_color['rgbDay']['green'], info_color['rgbDay']['blue']) %}
                            {{draw_color.render_color(rgb)}}
                            <span>RGB({{rgb}})</span>
                        </td>
                        <td>
                            {% set rgb = 'rgb(%s, %s, %s)' | format(info_color['rgbDusk']['red'], info_color['rgbDusk']['green'], info_color['rgbDusk']['blue']) %}
                            {{draw_color.render_color(rgb)}}
                            <span>RGB({{rgb}})</span>
                        </td>
                        <td>
                            {% set rgb = 'rgb(%s, %s, %s)' | format(info_color['rgbNight']['red'], info_color['rgbNight']['green'], info_color['rgbNight']['blue']) %}
                            {{draw_color.render_color(rgb)}}
                            <span>RGB({{rgb}})</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

        </tbody>

    </table>

</section>