<link rel="stylesheet" href="{{ url_for('static', filename='css/feature/line_area.css') }}" />


{% if areaFills %}

<section class="block">
  <h2>Area Fills</h2>

  <table class="data">
    <thead>
      <tr>
        <th>Aperçu</th>
        <th>Nom</th>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      {% for areafill in areaFills %}
      <tr 
      class="clickable"
      onclick="window.location.href='/visualisation/area_fill/{{areafill['value']}}'">
        <td>
          <span class="swatch_area_fills">
            <canvas
              class="cartoCanvas"
              width="100"
              height="100"
              data-symbol="{{ url_for('static', filename='symbols/' ~ areafill['symbol'] ~ '.svg') }}"
              data-v1_x="{{ areafill['v1']['x'] }}"
              data-v1_y="{{ areafill['v1']['y'] }}"
              data-v2_x="{{ areafill['v2']['x'] }}"
              data-v2_y="{{ areafill['v2']['y'] }}"
            >
              >
            </canvas>
          </span>
        </td>

        <td>{{ areafill['value']}}</td>

        <td class="mono">
          {% for condition in areafill['conditions'] %}

          <ul>
            <li>{{condition}}</li>
          </ul>

          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif%}
