{% if colorFills %}

<section class="block">
  <h2>Color Fills</h2>

  <table class="data">
    <thead>
      <tr>
        <th>Aperçu</th>
        <th>Nom</th>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      {% for colorfill in colorFills %}
      <tr>
        <td>
          <span class="swatch">
            <div
              style="background-color: rgb({{colorfill['value']['day']['red']}}, {{colorfill['value']['day']['green']}}, {{colorfill['value']['day']['blue']}}, {{colorfill['transparency']}}); width: 80px; height: 40px; border-radius: 4px;"
            ></div>
            <div
              style="background-color: rgb({{colorfill['value']['dusk']['red']}}, {{colorfill['value']['dusk']['green']}}, {{colorfill['value']['dusk']['blue']}}, {{colorfill['transparency']}}); width: 80px; height: 40px; border-radius: 4px;"
            ></div>
            <div
              style="background-color: rgb({{colorfill['value']['night']['red']}}, {{colorfill['value']['night']['green']}}, {{colorfill['value']['night']['blue']}}, {{colorfill['transparency']}}); width: 80px; height: 40px; border-radius: 4px;"
            ></div>
          </span>
        </td>

        <td>{{ colorfill['code']}}</td>

        <td class="mono">
          {% for condition in colorfill['conditions'] %}

          <ul>
            <li>{{condition}}</li>
          </ul>

          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif%}
