{% if lineStyles %}
<section class="block">
  <h2>Line Styles</h2>
  <table class="data">
  
    <thead>
      <tr>
        <th>Aperçu</th>
        <th>Type</th>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      {% for line in lineStyles %}
        <tr {% if line['type'] != 'simple' %} class="clickable" onclick="window.location.href='/visualisation/line_style/{{line['code']}}'" {% endif %}>

          <td>
            {% if line['type'] == 'simple' %}
              {% include 'includes/feature/line_styles/simple_line.html' %}

            {% elif line['type'] == 'instruction' %}
              {% include 'includes/feature/line_styles/instruction_line.html' %}

            {% endif %}
            
            </td>

          <td>{{ line['code'] if line['code'] else '-' }}</td>

          <td class="mono">
            {% for condition in line['conditions'] %}
              <ul><li>{{condition}}</li></ul>

            {% endfor %}

          </td>

        </tr>
      {% endfor %}
      
    </tbody>
  </table>
</section>
{% endif %}
