{% if symbols%}

<section class="block">
  <h2>Symboles</h2>

  <table class="data">
    <thead>
      <tr>
        <th>Aperçu</th>
        <th>Nom</th>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      {% for symbol in symbols %}

      <tr
        class="clickable"
        onclick="window.location.href='/symbols/{{symbol['value']}}'"
      >
        <td>
          <span class="swatch">
            {{ get_svg(symbol['value']) }}
          </span
          >
        </td>
        <td>{{ symbol['value']}}</td>

        <td class="mono">
          {% for condition in symbol['conditions'] %}

          <ul>
            <li>{{condition}}</li>
          </ul>

          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif%}
